﻿@model WebApplication1.Models.TisuModel
@{
    ViewBag.Title = "Game";
}
@using (Html.BeginForm("Game", "Tisu", FormMethod.Post))
{

    <div class="form-group">
        <label for="example">Name</label>
        @*<input type="Name" class="form-control" id="example" placeholder="Name"/>*@
         @Html.TextBoxFor(model => model.Name,new { @class = "form-control", @placeholder="Name"})
       @* @Html.ValidationMessageFor(model =>model.Name,)*@
    </div>
    <div>
        @Html.EditorFor(model => model.Price)
    </div>
    <input type="submit" value="Send" />
}
<h2>Game</h2>

