﻿@model  WebApplication1.Controllers.ContactModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
    @Html.TextBox("Contrary",  "Example");
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<!--form method="post">
    <textarea name="Contact"></textarea>
    <input type="text" value="Email" />
    <input type="submit" value="Send" />

</form-->
@using (Html.BeginForm("Contact", "Home",FormMethod.Post))
{
    <div>
    @Html.EditorFor(model =>model.Email)
    @Html.ValidationMessageFor(model => model.Email)

    </div>
    <div>
    @Html.TextAreaFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)

    </div>


    <input type="submit" value="Send" />
}