﻿@model WebApplication1.Models.UserViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> @ViewBag.Message</h1>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Name)
    <br />
    @Html.TextBoxFor(x => x.Name)
    <br />
    @Html.LabelFor(x => x.LastName)
    <br />
    @Html.TextBoxFor(x => x.LastName)
    <br />
    @Html.DropDownListFor(x => x.Gender,Model.Genders)
    <br/>
    <input type="submit" value="Dodaj" />
}

