﻿@model List<Aplikacja1.Models.PictureModel>
    <div>
        @{
            foreach (var image in Model)
            {
                <div class="jumbotron">
                    <div>
                        <p>@image.Name</p>
                        <img id="zdjecie" src="data:imgage/jpg;base64,
                              @System.Convert.ToBase64String(image.ImageBytes)" />
                    </div>
                    <div>
                        <p onclick="LikePhoto(@image.Id)">Ilość lajkow: @*@image.Likes*@</p>
                        @* <label id="@image.Id" value="@image.Likes">@image.Likes</label>*@
                        <input id="@image.Id" value="@image.Likes"/>
                        @*@Html.ActionLink("Likes","LikePhoto","Home",
            new { picture_id = image.Id},new {@class="btn btn-primary"})*@
                    </div>
                    <div>
                       @foreach (var comment in image.Comments)
                        {
                            <label>Date:@comment.Time, Author:@comment.Author, @comment.Message</label><br/>
                        }
                        
                    </div>
                    <div>
                        @Html.ActionLink("Add comment","AddComment","Home", new {pictureId = image.Id}, new {@class = "btn btn-primary"})
                    
                    </div>
                </div>
            }
        }
    </div>
