﻿
@model Aplikacja1.Models.PictureModel
<h2>PictureUploadView</h2>
@using (Html.BeginForm("UploadPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Picture Name" })
        @Html.ValidationMessageFor(Model => Model.Name)
    </div>
    <br />
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Submit" class="btn" />
}
